* {
  margin: 0;
  padding: 0; }

.total-container {
  width: 100vw;
  height: 173.3333333333vw;
  display: flex;
  justify-content: space-between; }
  .total-container .left-box {
    width: 49.7333333333vw;
    height: 100%;
    background-color: lightpink; }
  .total-container .split-line {
    width: 0.5333333333vw;
    height: 100%;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column; }
    .total-container .split-line .point {
      width: 0.5333333333vw;
      height: 0.5333333333vw;
      position: absolute;
      left: 0;
      background-color: green; }
      .total-container .split-line .point .icon {
        width: 2.6666666667vw;
        height: 2.6666666667vw;
        position: absolute;
        background-color: blue;
        left: -1.0666666667vw; }
    .total-container .split-line .triangle-left, .total-container .split-line .point-1 .box .triangle, .total-container .split-line .point-3 .box .triangle, .total-container .split-line .point-5 .box .triangle {
      width: 0;
      height: 0;
      border-left: 2.1333333333vw solid yellow;
      border-top: 2.1333333333vw solid transparent;
      border-bottom: 2.1333333333vw solid transparent;
      position: absolute;
      right: -2.1333333333vw; }
    .total-container .split-line .triangle-right, .total-container .split-line .point-2 .box .triangle, .total-container .split-line .point-4 .box .triangle, .total-container .split-line .point-6 .box .triangle {
      width: 0;
      height: 0;
      border-right: 2.1333333333vw solid yellow;
      border-top: 2.1333333333vw solid transparent;
      border-bottom: 2.1333333333vw solid transparent;
      position: absolute;
      left: -2.1333333333vw; }
    .total-container .split-line .point-1 {
      top: 13.3333333333vw; }
      .total-container .split-line .point-1 .box {
        width: 37.3333333333vw;
        height: 21.3333333333vw;
        position: absolute;
        background-color: yellow;
        left: -44.8666666667vw;
        top: -9.3333333333vw; }
        .total-container .split-line .point-1 .box .triangle {
          top: 8.5333333333vw; }
    .total-container .split-line .point-2 {
      top: 37.3333333333vw; }
      .total-container .split-line .point-2 .box {
        width: 37.3333333333vw;
        height: 16vw;
        position: absolute;
        background-color: yellow;
        left: 7.5333333333vw;
        top: -6.6666666667vw; }
        .total-container .split-line .point-2 .box .triangle {
          top: 5.8666666667vw; }
    .total-container .split-line .point-3 {
      top: 45.3333333333vw; }
      .total-container .split-line .point-3 .box {
        width: 37.3333333333vw;
        height: 24vw;
        position: absolute;
        background-color: yellow;
        left: -44.8666666667vw;
        top: -10.6666666667vw; }
        .total-container .split-line .point-3 .box .triangle {
          top: 9.8666666667vw; }
    .total-container .split-line .point-4 {
      top: 69.3333333333vw; }
      .total-container .split-line .point-4 .box {
        width: 37.3333333333vw;
        height: 16vw;
        position: absolute;
        background-color: yellow;
        left: 7.5333333333vw;
        top: -6.6666666667vw; }
        .total-container .split-line .point-4 .box .triangle {
          top: 5.8666666667vw; }
    .total-container .split-line .point-5 {
      top: 101.3333333333vw; }
      .total-container .split-line .point-5 .box {
        width: 37.3333333333vw;
        height: 32vw;
        position: absolute;
        background-color: yellow;
        left: -44.8666666667vw;
        top: -14.6666666667vw; }
        .total-container .split-line .point-5 .box .triangle {
          top: 13.8666666667vw; }
    .total-container .split-line .point-6 {
      top: 128vw; }
      .total-container .split-line .point-6 .box {
        width: 37.3333333333vw;
        height: 29.3333333333vw;
        position: absolute;
        background-color: yellow;
        left: 7.5333333333vw;
        top: -13.3333333333vw; }
        .total-container .split-line .point-6 .box .triangle {
          top: 12.5333333333vw; }
  .total-container .right-box {
    width: 49.7333333333vw;
    height: 100%;
    background-color: lightblue; }

/*# sourceMappingURL=v.css.map */
