* {
  margin: 0;
  padding: 0; }

.total-container {
  width: 100vw;
  height: 173.3333333333vw;
  display: flex;
  justify-content: space-between; }
  .total-container .halt-box {
    width: 49.7333333333vw;
    height: 100%;
    background-color: pink; }
  .total-container .split-line {
    width: 0.5333333333vw;
    height: 100%;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column; }
    .total-container .split-line .title {
      font-size: 3.7333333333vw;
      font-weight: 700; }
    .total-container .split-line .content {
      font-size: 2.6666666667vw; }
      .total-container .split-line .content p {
        margin: 0.6666666667vw auto; }
    .total-container .split-line .point {
      width: 0.5333333333vw;
      height: 0.5333333333vw;
      position: absolute;
      left: 0; }
      .total-container .split-line .point .icon {
        width: 2.6666666667vw;
        height: 2.6666666667vw;
        border-radius: 2.6666666667vw;
        position: absolute;
        background-color: lightgreen;
        left: -1.0666666667vw; }
    .total-container .split-line .triangle-left, .total-container .split-line .point-1 .box .triangle, .total-container .split-line .point-3 .box .triangle, .total-container .split-line .point-5 .box .triangle {
      width: 0;
      height: 0;
      border-left: 2.1333333333vw solid ivory;
      border-top: 2.1333333333vw solid transparent;
      border-bottom: 2.1333333333vw solid transparent;
      position: absolute;
      right: -2.1333333333vw; }
    .total-container .split-line .triangle-right, .total-container .split-line .point-2 .box .triangle, .total-container .split-line .point-4 .box .triangle, .total-container .split-line .point-6 .box .triangle {
      width: 0;
      height: 0;
      border-right: 2.1333333333vw solid ivory;
      border-top: 2.1333333333vw solid transparent;
      border-bottom: 2.1333333333vw solid transparent;
      position: absolute;
      left: -2.1333333333vw; }
    .total-container .split-line .box-origin, .total-container .split-line .point-1 .box, .total-container .split-line .point-2 .box, .total-container .split-line .point-3 .box, .total-container .split-line .point-4 .box, .total-container .split-line .point-5 .box, .total-container .split-line .point-6 .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: ivory; }
    .total-container .split-line .point-1 {
      top: 21.3333333333vw; }
      .total-container .split-line .point-1 .box {
        width: 37.3333333333vw;
        height: 29.3333333333vw;
        position: absolute;
        left: -44.8666666667vw;
        top: -13.3333333333vw; }
        .total-container .split-line .point-1 .box .triangle {
          top: 12.5333333333vw; }
    .total-container .split-line .point-2 {
      top: 37.3333333333vw; }
      .total-container .split-line .point-2 .box {
        width: 37.3333333333vw;
        height: 34.6666666667vw;
        position: absolute;
        left: 7.5333333333vw;
        top: -16vw; }
        .total-container .split-line .point-2 .box .triangle {
          top: 15.2vw; }
    .total-container .split-line .point-3 {
      top: 58.6666666667vw; }
      .total-container .split-line .point-3 .box {
        width: 37.3333333333vw;
        height: 29.3333333333vw;
        position: absolute;
        left: -44.8666666667vw;
        top: -13.3333333333vw; }
        .total-container .split-line .point-3 .box .triangle {
          top: 12.5333333333vw; }
    .total-container .split-line .point-4 {
      top: 77.3333333333vw; }
      .total-container .split-line .point-4 .box {
        width: 37.3333333333vw;
        height: 34.6666666667vw;
        position: absolute;
        left: 7.5333333333vw;
        top: -16vw; }
        .total-container .split-line .point-4 .box .triangle {
          top: 15.2vw; }
    .total-container .split-line .point-5 {
      top: 101.3333333333vw; }
      .total-container .split-line .point-5 .box {
        width: 37.3333333333vw;
        height: 29.3333333333vw;
        position: absolute;
        left: -44.8666666667vw;
        top: -13.3333333333vw; }
        .total-container .split-line .point-5 .box .triangle {
          top: 12.5333333333vw; }
    .total-container .split-line .point-6 {
      top: 128vw; }
      .total-container .split-line .point-6 .box {
        width: 37.3333333333vw;
        height: 34.6666666667vw;
        position: absolute;
        left: 7.5333333333vw;
        top: -16vw; }
        .total-container .split-line .point-6 .box .triangle {
          top: 15.2vw; }

/*# sourceMappingURL=v.css.map */
